/* Fix user-agent */

* {
  box-sizing: border-box;
}

canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
  background: #eee;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Game */
.gameAre {
  height: 100%;
  float: right;
}

/* Messages */

.chatArea {
  height: 100%;
  width: 50%;
  float: left;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  padding-bottom: 60px;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.chatArea .inputMessage {
  background-color: #fff !important;
  height: 60px;
  outline: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0;
  padding: 30px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2) !important;
  border-width: 0 !important;
  font-size: 125%;
}

.nav-wrapper {
  padding: 0 30px;
}

.messages .message {
  font-size: 70%;
  font-weight: normal;
  display: block !important;
  clear: both;
  margin-top: 5px;
  float: left;
}

.messages .message.me {
  float: right;
}


